$principal: #d0a772;
$negro : black;
/* -------------------------------------Contacto------------------------------------------- */
.contacto{
    margin: 30px;
    text-align: center;
    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        padding-top: 20px;
        margin-bottom: 25px;
        color: $negro;
        }
}
/* Formulario */
.container-contacto{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.contact-box{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
    img{
        height: 600px;
        width: 500px;
    }
}

.izquierda{
	background-size: cover;
	height: 100%;
}

.derecha{
	padding: 25px 40px;
}
h2{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
    resize: none;
}

.btn-contact{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn-contact:hover{
    background-color: #fff;
    border: 2px solid #000;
	color: #000;
}

.field:focus{
    border: 2px solid $principal;
    background-color: #fff;
}
/* img Header */
.header img{
    width: 100% !important;
    height: 287px;
    background-size: cover;
    object-fit: cover;
    box-shadow: 1px 9px 15px 0px rgba(0,0,0,0.75);
}
.header{
	position: relative;
}
.texto-header{
	position: absolute;
	top: 10px;
	text-align: center;
	font-size: 170px;
	color: #fff;
	width: 100%;
	font-weight: 900;
	font-family: oswald;
	letter-spacing: 15px;
}

/* -------------------------------------Cierre Contacto------------------------------------------- */