.body404{
    background-image: url(https://dinahosting.com/blog/cont/uploads/2021/03/error-404.jpg);
}

h1{
    margin: 0px;
}
.error-message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
