/*--------------------------------------------MEDIA QUERYS---------------------------------- */
@media screen and (min-width: 0px) and (max-width: 576px){
    *{
        p{
            font-size: 20px !important;
        }
    }
    .nav{
        width: 100%;
        font-size: 13px;
        padding-right: 120px;
    }
    .nav__itemsHome{
        border: none;
        padding: 12px 27px !important;
        border-bottom: 1px solid #fff;
    }
    .nav__items{
        font-weight: 400;
    }
    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 1.6rem;
    }
    .hero__subtitle{
        font-size: 1.1rem;
        margin-bottom: 70px;
    }
    .hero .conteiner {
        padding: 0;
        width: 100%;
    }
    /* Contenido */
    .presentacion{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
    }
    .about__texts{
        font-size: 17px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .about .conteiner{
        padding-top: 30px;
    }
    .presentacion_texto{
        font-size: 17px;
        margin: 0 auto;
        margin-bottom: 40px;
        
    }
    .about__paragraph {
        line-height: 1.5;
        margin: 30px;
        font-size: 17px;
        margin-top: 0;
    }
    .about__subtitle{
        margin-bottom: 0;
    }
    footer{
        width: 100vw;
    }
    .container-footer-all{
        font-size: 14px;
        width: 100%;
        text-align: left;
    }
    .container-footer-all h1{
        font-size: 15px;
        font-weight: 900 !important;
    }
    .container-footer{
        width: 100%;
    }
    .iframe iframe{
        height: 350px;
    }
    footer h1{
        text-align: center;
    }
    footer .columna1{
        text-align: center;
        ul{
            list-style-type: none;
        }
    }
    .contacto-textArea{
        width: 80%;
        resize: none;
    }
    .carousel-item img{
        height: 133vw;
    }
    .about__img{
        margin: 10px;
        img{
            max-width: 100%;
            height: 190px;
            margin-bottom: 0px !important;
        }
    }
    .pindex{
        margin-bottom: 0;
    }
    .pindex__img{
        width: 100%;
        height: 350px;
    }
    .card__father{
        max-width: 100%;
    }
    .pindex__column{
        width: 100%;
    }
    .variedad__menu {
        height: 230px;
        text-align: center !important;
        
    }
    .variedad__menu ul{
        width: 100%;
        margin-right: 50px;
        flex-wrap: wrap;
    }
    .variedad__menu ul li{
        width: 100%;
    }
    .reset .contacto-form_input{
        margin: 17px;
    }
    .sucursal__iframe iframe{
        width: 90%;
    }
    .presentacion__cta{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .horarios p{
        font-weight: 300;
    }
    /* ----------------------------SUCURSAL---------------------------- */
    .content-line_sucursal{
        width: 290px;
    }
    .sucursal .sucursal__paragraph {
        margin: 22px;
        margin-top: 0;
    }
    /* ----------------------------MENU---------------------------- */
    /* img header */
    .header img{
        height: 150px;
    }
    .container__card{
        margin-top: 0px;
    }
    .card{
        height: 300px;
    }
    .back__menu{
        margin-top: 40px;
    }
     /* ----------------------------CONTACTO---------------------------- */
    .contact-box{
        img{
            height: 210px;
        }
	}
	.izquierda{
		height: 200px;
        img{
            display: none;
        }
	}
    .container-contacto{
        padding: 0 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px){
    .nav{
        width: 100%;
        font-size: 18px;
        padding-right: 120px;
    }
    .pindex__img{
        width: 100%;
        height: 350px;
    }
    .nav__itemsHome{
        border: none;
        padding: 12px 27px !important;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
    }
    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 1.6rem;
    }
    .hero__subtitle{
        font-size: 1.1rem;
        margin-bottom: 70px;
    }
    .hero .conteiner {
        padding: 0;
        width: 100%;
    }
    /* Contenido */
    .presentacion{
        width: 100%;
    }

    .about{
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
    }
    .about__texts{
        font-size: 17px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .about .conteiner{
        padding-top: 30px;
    }
    .presentacion_texto{
        font-size: 20px;
        margin: 0 auto;
    }
    .about__paragraph {
        margin-bottom: 20px;
        line-height: 1.5;
        margin: 30px;
        font-size: 20px;
    }
    /* Footer*/
    footer{
        width: 100vw;
    }
    .container-footer-all{
        font-size: 14px;
        width: 100%;
        text-align: left;

    }
    .container-footer-all h1{
        font-size: 15px;
    }
    .container-footer{
        width: 100%;
    }
    .iframe iframe{
        height: 350px;
    }
    .row img{
        height: 520px;
    }
    .variedad-menu{
        justify-content: space-around;
        text-align: center;
    }
    .variedad-menu ul{
        padding: 0px;
    }
    .variedad-menu ul li{
        padding-right: 0;
        padding-left: 0;
    }

}
@media screen and (min-width: 768px) and (max-width: 992px){
    .nav{
        width: 100%;
        font-size: 18px;
        padding-right: 120px;
    }
    .nav__itemsHome{
        border: none;
        padding: 12px 27px !important;
    }
    .nav__items{
        font-weight: 400;
        border-bottom: 1px solid #fff;
        padding: 30px;
    }
    .hero__texts{
        width: 100%;
        margin-bottom: 80px;
    }
    .hero__title{
        font-size: 1.6rem;
    }
    .hero__subtitle{
        font-size: 1.1rem;
        margin-bottom: 70px;
    }
    .hero .conteiner {
        padding: 0;
        width: 100%;
    }
    /* Contenido */
    .presentacion{
        width: 100%;
    }
    .about{
        grid-template-columns: 1fr;
        width: 100%;
        text-align: center;
    }
    .about__texts{
        font-size: 17px;
        margin-left: 10px;
        margin: 0 auto;
    }
    .about .conteiner{
        padding-top: 30px;
    }
    .presentacion_texto{
        font-size: 20px;
        margin: 0 auto;
    }
    .about__paragraph {
        margin-bottom: 20px;
        line-height: 1.5;
        margin: 30px;
        font-size: 20px;
    }
    .pindex__img{
        display: block;
    }
    .row{
        display: block !important;
    }
    .col-md-6{
        width: 100% !important;
    }
    /* Footer */
    footer{
        width: 100vw;
    }
    footer .columna1{
        width: 170px;
    }
    footer .columna2{
        margin-top: 0px;
    }
    footer .columna3{
        margin-top: 0px;
    }
    .container-footer-all{
        font-size: 14px;
        width: 100%;
        text-align: left;

    }
    .container-footer-all h1{
        font-size: 15px;
    }
    .container-footer{
        width: 100%;
    }
    .iframe iframe{
        height: 350px;
    }
    .about__img img{
        width: 950px;
    }
    .container-body {
        display: flex;
        justify-content: space-around;
    }
    .variedad-menu{
        justify-content: space-around;
    }
}
@media screen and (min-width: 992px) and (min-width: 1024px){
    .container-body{
        flex-wrap: wrap;
        color: #c7c7c7;
        justify-content: space-around;
    }
    .columna1{
        width: 100%;
    }
    .columna1{
        margin-top: 25px;
    }
    .columna2{
        margin-top: 25px;
    }
    .columna3{
        margin-top: 25px;
    }
    .footer{
        margin-top: 20px;
    }
    .about__img{
        width: auto;
    }
    .nav{
        justify-content: center;
        margin-left: 60px;
    }
    .iframe iframe{
        width: 90%;
    }
    .about{
        width: 100%;
        grid-template-columns: none;
        padding-right: 30px;
        padding-left: 30px ;
    }
    .variedad-menu{
        justify-content: space-around;
    }
    .form_input{
        width: 240px !important; 
    }
    .pindex__img{
        width: 100%;
        height: 350px;
    }
    .navbar-nav{
        justify-content: space-around;
    }
}