$principal: #d0a772;
$negro : black;
/*---------------------HEADER --------------------------*/
.conteiner{
    width: 100%;
    margin: 0 0;
    overflow: hidden;
    padding: 80px 0;
}

.subtitle{
    color: #000000;
    font-size: 2.5rem;
    margin-bottom: 35px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
#contacto{
    background-image: url(../Imagenes/contacto/paralaxx.jpg);
}
#menu{
    background-image: url(../Imagenes/menu/header.jpg);
}
.hero{
    height: 100vh;
    background-image: url(../Imagenes/index/index1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    width: 100% !important;
}

.hero .conteiner{
    padding: 0;
}
.nav{
    display: flex;
    height: 70px;
    font-size: 20px;
    position: sticky;
    top: 0;
}
.styckyNav{
    font-weight: 700;
    align-items: center;
    position: sticky !important;
    top: 0;
    z-index: 100000;
}

.nav__items{
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 15px;
    font-weight: inherit;
}
.nav .nav__itemsHome{
    text-decoration: none;
    padding: 10px 45px;
    color: #fff;
}
.nav__itemsHome{
    border-bottom: 2px solid #fff ;
}
.hero__conteiner{
    display: flex;
    align-items: center;
    color: #fff;
}
.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}
.hero__texts{
    width: 80%;
    margin-bottom: 50px;
    margin-top: 130px;
    margin-left: 80px;
}
.hero__title{
    font-size: 3rem;
}
.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__cta{
    display: inline-block;
    background: #fff;
    padding: 20px 40px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
}
.nav-link{
    font-size: 22px;
    text-align: right;
}
#navbarNav{
    justify-content: center;
}