$principal: #d0a772;
$negro : black;
/*---------------------HEADER --------------------------*/
.conteiner{
    width: 100%;
    margin: 0 0;
    overflow: hidden;
    padding: 80px 0;
}
.logo{
    margin: 0;
}

.hero .conteiner{
    padding: 0;
}

.styckyNav{
    font-weight: 700;
    align-items: center;
    position: sticky !important;
    top: 0;
    z-index: 100000;
    height: 89px;
}


.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__cta{
    display: inline-block;
    padding: 20px 40px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
}
.nav-link{
    font-size: 22px;
    text-align: right;
}
#navbarNav{
    justify-content: flex-end;
    margin-right: 40px;
}