$principal: #d0a772;
$negro : black;
/*---------------------HEADER --------------------------*/
.logo{
    margin: 0;
}
.hero .conteiner{
    padding: 0;
}

.hero__subtitle{
    font-size: 2rem;
    font-weight: 300;
    margin: 15px 0;
}
.hero__cta{
    display: inline-block;
    padding: 20px 40px;
    color: #000000;
    border-radius: 40px;
    text-decoration: none;
}
.nav-link{
    font-size: 22px;
    text-align: right;
}
#navbarNav{
    justify-content: flex-end;
    margin-right: 40px;
}
